app-player {
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}

.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        object-fit: contain;
        object-position: center;
        z-index: 2;
    }
}

.preloadImage {
    opacity: 1;
    z-index: -999999;
}

.field {
    width: 100vw;
    height: 100vh;
    width: 100%;
    background-image: url('~src/assets/img/board.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
        user-select: none;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    right: 25px;
    transform: scale(1) translateX(160px) translateY(-200px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1) translateX(160px) translateY(-200px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.6);
    }

    60% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1) translateX(160px) translateY(-200px) rotate(-10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    // z-index: 1;
}

.btn-add {
    position: absolute;
    right: 24px;
    bottom: 34px;
}

.pin-bottom {
    position: absolute;
    bottom: 24px;
    left: 120px;
    right: 120px;
}

.hint {
    animation: blinker 1.5s linear;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media(max-width: 1024px) {

    .btn-add {
        position: absolute;
        right: 24px;
        top: 24px;
    }

    .pin-bottom {
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media(max-width: 720px) {

    .card-stack {
        position: relative;
        margin-left: 14px;
        margin-bottom: 46px;
    }

    .played-card {
        right: 25px;
        transform: scale(1) translateX(16px) translateY(-250px) rotate(-10deg);
    }

    .pick-card {
        animation: pick-card-animation 1s ease-in-out;
        transform: scale(1) translateX(16px) translateY(-250px) rotate(-10deg);
    }

    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }

        40% {
            transform: scale(1.4);
        }

        60% {
            transform: scale(1.4);
        }

        100% {
            transform: scale(1) translateX(16px) translateY(-250px) rotate(-10deg);
        }
    }

}